.clients__set {
    display: flex;
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    svg {
        width: 106px;
        height: 60px;
    }

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;

    }
}